<h1 class="display-4">Espace visualisation</h1>
<p class="lead">visualiser vos réservations, visualiser vos covoiturage,...</p>
<button type="button" mdbBtn color="primary" routerLink="/reserver" mdbWavesEffect>Réserver un transport</button>
<mdb-navbar SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Menu</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Covoiturage
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Véhicules de société </a>
      </li>
      <li class="nav-item">
        <!-- seulement lorsqu'on clique sur le bouton réserver on affichera la composant création-reservation-->
        <a class="nav-link waves-light" mdbWavesEffect (click)="show()"> Voir vos réservation</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--création d'une réservation //qu'on affiche que seulement lorsque les deux autres covoiturage et vehicule de société -->
<div *ngIf="showed ==true" id="reservationEnCours">
  <table mdbTable>
    <thead class="black white-text">
      {{enCours}}
      <tr>
        <th scope="row">Date de réservation </th>
        <th scope="row">Date de retour </th>
        <th scope="row">Immatriculation de la voiture </th>
        <th scope="row">Modèle de la voiture </th>
        <th scope="row">Marque de la voiture </th>
      </tr>
    </thead>
    <div *ngFor="let res of listesReservations">
    <tbody *ngIf="expression"="res.dateDeRetour.getDate() >= maintenant.getDate() ">
      <tr mdbTableCol  >
        <td>{{res.dateDeReservation}}</td>
        <td>{{res.dateDeRetour}}</td>
        <td>{{res.uneVoiture.immatriculation}}</td>
        <td>{{res.uneVoiture.modele}}</td>
        <td>{{res.uneVoiture.marque}}</td>
      </tr>
    </tbody>
  </div>
  </table>
  <table mdbTable>
      <thead class="black white-text">
        {{historique}}
        <tr>
          <th scope="row">Date de réservation </th>
          <th scope="row">Date de retour </th>
          <th scope="row">Immatriculation de la voiture </th>
          <th scope="row">Modèle de la voiture </th>
          <th scope="row">Marque de la voiture </th>
        </tr>
      </thead>
      <div *ngFor="let res of listesReservations">
      <tbody *ngIf="res.dateDeRetour<= maintenant" >
        <tr mdbTableCol  >
          <td>{{res.dateDeReservation}}</td>
          <td>{{res.dateDeRetour}}</td>
          <td>{{res.uneVoiture.immatriculation}}</td>
          <td>{{res.uneVoiture.modele}}</td>
          <td>{{res.uneVoiture.marque}}</td>
        </tr>
      </tbody>
    </div>
    </table>






</div>
