
#tete{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
table
{
  border:solid;
  border-collapse: collapse;
}
#pages{
  display:flex;
  justify-content: flex-end;
}
