<div id="tete">
<h1>Vos réservations </h1>
<button type="button" mdbBtn color="primary" routerLink="/collaborateur/reservations/creer" mdbWavesEffect>Réserver un transport</button>
</div>
<h2>Réservations en cours</h2>
  <table mdbTable>
      <thead>
        <tr>
          <th scope="col">Date de réservation</th>
          <th scope="col">Date de retour</th>
          <th scope="col">Immatriculation de la voiture</th>
          <th scope="col">Marque de la voiture</th>
          <th scope="col">Modèle de la voiture</th>
          <th scope="col">Chauffeur</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let res of listesReservationsEnCours">
          <th scope="row">{{res.dateDeReservation | date:'d/M/yy, h:mm '}}</th>
          <th scope="row">{{res.dateDeRetour | date:'d/M/yy, h:mm '}}</th>
          <th scope="row">{{res.uneVoiture.immatriculation}}</th>
          <th scope="row">{{res.uneVoiture.marque}}</th>
          <th scope="row">{{res.uneVoiture.modele}}</th>
          <th scope="row" *ngIf="res.unChauffeur">{{res.unChauffeur.nom }}</th>
          <th scope="row" *ngIf="res.avecOuSansChauffeur && !res.unChauffeur">En attente</th>
          <th scope="row" *ngIf="!res.avecOuSansChauffeur"></th>

        </tr>
      </tbody>
    </table>
    <h2>Réservations terminées</h2>
    <table mdbTable>
        <thead>
          <tr>
            <th scope="col">Date de réservation</th>
            <th scope="col">Date de retour</th>
            <th scope="col">Immatriculation de la voiture</th>
            <th scope="col">Marque de la voiture</th>
            <th scope="col">Modèle de la voiture</th>
            <th scope="col">Chauffeur</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let res of listesReservationsTerminee | paginate: { itemsPerPage: 3, currentPage: p }">
            <th scope="row">{{res.dateDeReservation | date:'d/M/yy, h:mm '}}</th>
            <th scope="row">{{res.dateDeRetour | date:'d/M/yy, h:mm '}}</th>
            <th scope="row">{{res.uneVoiture.immatriculation}}</th>
            <th scope="row">{{res.uneVoiture.marque}}</th>
            <th scope="row">{{res.uneVoiture.modele}}</th>
            <th scope="row" *ngIf="res.unChauffeur">{{res.unChauffeur.nom }}</th>
            <th scope="row" *ngIf="!res.avecOuSansChauffeur"></th>
          </tr>
          <div id="pages">
        <ul class="pagination">
          <pagination-controls (pageChange)="p = $event" previousLabel="Précédentes" nextLabel="Suivantes"></pagination-controls>
         </ul>
         </div>
    </tbody>
      </table>

