<h1>Planning</h1>
<div class="row text-center">
  <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        <
      </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):"da" }}</h3>
  </div>
  <div
  class="btn btn-primary"
  mwlCalendarPreviousView
  [view]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="closeOpenMonthViewDay()"
>
        >
</div>
</div>
<br />

  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>

