<div class="container">
  <div class="row">
    <div class="col-12">
      <mdb-card>
        <mdb-card-header>
          <h3>Covoiturage</h3>
        </mdb-card-header>
        <mdb-card-body>
          <div class="row">
            <div class="col-12 d-flex">
              <h4 class="mr-auto">Critères</h4>
            </div>
          </div>
          <div class="row">

            <form class="col-8">
              <div class="form-group row">
                <label for="adressDepart" class="col-2 col-form-label" required>Adresse de départ *</label>
                <div class="col-4">
                  <input mdbInput type="text" class="form-control" id="adressDepart" name="depart"
                    [(ngModel)]="annonce.adressDepart" #adressDepartFC="ngModel" required>
                  <p class="col-12 text-danger" *ngIf="adressDepartFC.invalid && adressDepartFC.touched">Ce champ est
                    invalide</p>
                </div>
                <label for="adressArrivee" class="col-2 col-form-label">Adresse d'arrivée *</label>
                <div class="col-4">
                  <input mdbInput type="adressArrivee" class="form-control" id="adressArrivee" name="arrivee"
                    [(ngModel)]="annonce.adressArrivee" #adressArriveeFC="ngModel" required>
                  <p class="col-12 text-danger" *ngIf="adressArriveeFC.invalid && adressArriveeFC.touched">Ce champ
                    est
                    invalide</p>
                </div>
              </div>

              <div class="form-group row">
                <label for="dateDepart" class="col-2 col-form-label">Date de départ</label>
                <div class="col-4">
                  <input mdbInput type="dateDepart" class="form-control" id="dateDepart" name="dateDepart"
                    [(ngModel)]="annonce.dateTimeDepart" #dateDepartFC="ngModel" required>
                  <p class="col-12 text-danger" *ngIf="adressArriveeFC.invalid && dateDepartFC.touched">Ce champ est
                    invalide</p>
                </div>
                <div class="col-1">
                  <i class="far fa-calendar-alt fa-2x"></i>
                </div>
              </div>
            </form>
            <div class="offset-1 col-3">
              <div class="row">
                <p class="col-8">Durée du trajet</p>
                <p class="col-4">durée</p>
                <p class="col-8">Distance</p>
                <p class="col-4">dist</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 d-flex">
              <h4 class="mr-auto">Covoiturages</h4>
            </div>
          </div>
          <div class="row">
            <table mdbTable>
              <thead>
                <tr>
                  <th scope="col">Date/Heure</th>
                  <th scope="col">Départ</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Véhicule</th>
                  <th scope="col">Chauffeur</th>
                  <th scope="col">Places disponibles</th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let annonce of annonces">
                  <th scope="row">{{annonce.dateTimeDepart | date:'yyyy/MM/dd, hh:mm'}}</th>
                  <th scope="row">{{annonce.adressDepart}}</th>
                  <th scope="row">{{annonce.adressArrivee}}</th>
                  <th scope="row">{{annonce.modele}}</th>
                  <th scope="row">{{annonce.annonceurPrenom}}</th>
                  <th scope="row">{{annonce.place}}</th>
                </tr>
              </tbody>
            </table>
          </div>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
