
    <h1 class="display-4">Espace création</h1>
    <p class="lead">créer une réservation, créer un covoiturage,...</p>
<mdb-navbar SideClass="navbar navbar-1 navbar-light amber lighten-2" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">Navbar</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Covoiturage
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Véhicules de société </a>
      </li>
      <li class="nav-item">
        <!-- seulement lorsqu'on clique sur le bouton réserver on affichera la composant création-reservation-->
        <a class="nav-link waves-light" mdbWavesEffect (click)="show()">Créer une Réservation</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--création d'une réservation //qu'on affiche que seulement lorsque les deux autres covoiturage et vehicule de société -->
<div *ngIf="showed ==true">
  <app-creation-reservation></app-creation-reservation>
</div>



