<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row card">
        <div class="col-12">
          <h3 class="card-header">Itinéraire</h3>
          <div div class="col-12 card-body">
            <form class="form-group">
              <label class="offset-1 col-2" for="adressDepart">Adresse de départ</label>
              <input class="col-5" type="text" name="adressDepart" [(ngModel)]="annonce.adressArrivee">
              <div class="col-4"></div>
              <label class="offset-1 col-2" for="adressArrivee">Adresse d'arrivée</label>
              <input class="col-5" type="text" name="adressArrivee" [(ngModel)]="annonce.adressDepart">
              <div class="col-4"></div>
              <div class="col-2"></div>
            </form>
          </div>
          <div class="row">
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
