<div class="container">

  <mdb-card class="col-4">

    <mdb-card-img src="{{(administrateur | async).photoUrl}}" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{(administrateur | async).nom}} {{(administrateur | async).prenom}}</h4>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text>
        {{(administrateur | async).email}}
        <br />
        {{(administrateur | async).telephone}}
      </mdb-card-text>
    </mdb-card-body>

  </mdb-card>

</div>
